# Eclipse Project Files
.project
.classpath
.settings/
.metadata
*.class

# IntelliJ IDEA Project Files
.idea/
*.iml
*.ipr
*.iws
*.swp

# Backup files
*~

# Package Files #
*.jar
*.war
*.ear

target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Vagrant user data
vagrant/.vagrant
vagrant/config.yaml
